# Compiled object files
*.o

# Executable
philo

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# OS specific files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/

# Temporary files
*.tmp
*.temp